/nbproject/
/protected/common/config/instance.php
/resources/
/runtime/
/protected/common/config/instancetest.php
/protected/common/config/instanceConfig.php
/assets/
/backend/assets/
/vendor/