.page-header:after,
.panel-heading:after { content: ""; display: table; clear: both; }


html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: relative;
  min-height: 100%;
}

a {
  cursor: pointer;
}
a:hover,
a:focus {
  color: #3D9AE4;
  text-decoration: none;
  outline: 0;
}

button:hover, 
button:focus {
  outline: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
  font-weight: 600;
  line-height: 1.42857143;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 22px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}


h1 .label, 
h2 .label, 
h3 .label, 
h4 .label, 
h5 .label, 
h6 .label, 
.h1 .label, 
.h2 .label, 
.h3 .label, 
.h4 .label, 
.h5 .label, 
.h6 .label { 
  vertical-align: middle; 
}


h1 > i, 
.h1 > i { 
  margin: 8px 8px 0 0; 
  float: left; 
}
h2 > i, 
.h2 > i { 
  margin: 7px 8px 0 0; 
  float: left; 
}
h3 > i, 
.h3 > i { 
  margin: 4px 8px 0 0; 
  float: left; 
}
h4 > i, 
.h4 > i { 
  margin: 4px 8px 0 0; 
  float: left; 
}
h5 > i, 
.h5 > i { 
  margin: 2px 8px 0 0; 
  float: left; 
}
h6 > i, 
.h6 > i { 
  margin: 1px 8px 0 0; 
  float: left; 
}


/*===== Lists =====*/ 

ul, ol {
  padding-left: 16px;
}

ul.square, 
ol.square { 
  list-style-type: square; 
  margin: 0; 
  padding-left: 26px; 
}

dl {
  margin-bottom: 0;
}
dt {
  font-weight: 600;
}
dd + dt {
  margin-top: 10px;
}




/*----Text styles and colors----*/ 

.text-primary {
  color: #428bca;
}
.text-warning {
  color: #C7845E;
}
.text-danger {
  color: #D65C4F;
}
.text-success {
  color: #239169;
}
.text-info {
  color: #428BCA;
}

.text-semibold {
  font-weight: 600;
}

label { 
  font-weight: 600; 
}

/****--Containers--*****/ 

.container-fluid, 
.container {
  position: relative;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.page-container {
  background-color: #fff;
}

/*-----Adding vertical spacing to responsive grid----*/ 

@media (max-width: 767px) {
  [class*="col-sm-"] + [class*="col-sm-"] { 
    margin-top: 20px; 
  }
  label[class*="col-sm-"] + [class*="col-sm-"] { 
    margin-top: 0; 
  }
  [class*="col-sm-"] + [class*="col-xs-"], 
  [class*="col-sm-"] + [class*="col-md-"], 
  [class*="col-sm-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-sm-"] { 
    padding-top: 0; 
  }
}


@media (max-width: 991px) {
  [class*="col-md-"] + [class*="col-md-"] { 
    margin-top: 20px; 
  }
  label[class*="col-md-"] + [class*="col-md-"] { 
    margin-top: 0; 
  }
  [class*="col-md-"] + [class*="col-xs-"], 
  [class*="col-md-"] + [class*="col-sm-"], 
  [class*="col-md-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-md-"] { 
    padding-top: 0; 
  }
}


@media (max-width: 1199px) {
  [class*="col-lg-"] + [class*="col-lg-"] { 
    margin-top: 20px; 
  }
  label[class*="col-lg-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }
  [class*="col-lg-"] + [class*="col-xs-"], 
  [class*="col-lg-"] + [class*="col-sm-"], 
  [class*="col-lg-"] + [class*="col-md-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-lg-"] { 
    padding-top: 0; 
  }
}

/*----- Navbar styles----*/

.navbar {
  z-index: 1000;
  min-height: 54px;
  border-radius: 0;
  margin: 0;
  border: 0;
}

/*---- Inversed navbar -----*/

.navbar-inverse {
  background-color: #518CA3;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.06);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
  opacity: 0.4;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.navbar-inverse .navbar-nav > li > a > .label {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav > li > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-link {
  color: #fff;
}


@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

/*----------Navbar nav-------*/
.navbar-nav {
  margin: 0;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 25px;
}

.navbar-nav > li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0;
  font-size: 12px;
  display: inline-block;
}
.navbar-nav > li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 10px;
  border-radius: 2px;
}

.navbar-nav > li > a {
  padding-top: 17px;
  padding-bottom: 17px;
  height: 54px;
}

.navbar-nav > li > a > .label {
  padding: 3px 6px 4px 6px;
  float: right;
  margin-left: 4px;
}

.navbar-nav > li > a > [class*="icon-"] {
  float: left;
  margin: 2px 4px;
  line-height: 1;
}

@media (max-width: 991px) {

  .navbar-nav {
    text-align: center;
    font-size: 0;
    float: none;
  }
  .navbar-nav > li {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

}

/*----Navbar header----*/

.navbar-header {
  position: relative;
  min-width: 203px;
  margin-left: 25px;
  margin-right: 15px;
}
.container .navbar-header { 
  min-width: 240px; 
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}


/*----Navbar brand---*/

.navbar-brand {
  height: 54px;
  padding: 14px 15px 0 0;
}


/* Navbar collapse */

.navbar-collapse {
  padding: 0;
}

/*----Navbar toggle---*/

.navbar-toggle {
  display: block; 
  float: right; 
  color: #fff; 
  border: 0; 
  padding: 6px 7px 7px 7px; 
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.2); 
  margin: 12px 0 12px 10px;
  border-radius: 0;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #3A4B55;
}


/* Navbar user dropdown styles */

.user.dropdown { vertical-align: top; }
.user.dropdown > a { padding-top: 7px; padding-bottom: 7px; }
.user.dropdown > a > img { float: left; margin: 4px 0; max-height: 32px; }
.user.dropdown > a > span { display: inline-block; margin: 10px 0 10px 8px; }

@media (min-width: 992px) {

  .navbar-form,
  .navbar-text,
  .navbar-nav,
  .navbar-button,
  .sidebar {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }

}

@media (max-width: 991px) {

  .navbar-header {
    float: none;
    margin-right: 25px;
  }

  .navbar-nav {
    text-align: center;
    font-size: 0;
    position: absolute;
    width: 100%;
  }
  .navbar-inverse .navbar-nav {
    background-color: #303D44;
  }
  .navbar-nav > li {
    float: none;
    position: static;
    border: 0;
  }
  .navbar-nav > li:first-child {
    border-left: 0;
  }
  .navbar-nav > li > .dropdown-menu {
    width: 60%;
    margin: 2px 20%;
  }

  .navbar-inverse .navbar-nav > li > a:hover, 
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > .open > a, 
  .navbar-inverse .navbar-nav > .open > a:hover, 
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  }

  .navbar-nav .dropdown-menu .popup-header:after,
  .navbar-nav .dropdown-menu > li:first-child:after,
  .navbar-nav .dropdown-menu > li:first-child:before {
    content: "";
    border: 0;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

  .navbar-inverse .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar-default .navbar-nav {
    border-top: 1px solid #e5e5e5;
  }
}



@media (max-width: 768px) {

  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse,
  .navbar-header {
    margin: 0 15px;
  }

  .navbar-nav > li > .dropdown-menu,
  .navbar-nav .open .dropdown-menu,  
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: 90%;
    margin: 5px 5% 0 5%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  }

  .navbar-nav .open .dropdown-menu > li > a, 
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 12px 11px 12px;
    line-height: 1.42857143;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #3A4B55;
    box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
    -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
  }

}

/*----Bootstrap nav------*/

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.nav .caret {
  border-top-color: #444444;
  border-bottom-color: #444444;
}
.nav a:hover .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.nav > li > a {
  cursor: pointer;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.nav-justified > li > a {
  margin-bottom: 0;
}

/*---Nav tabs-----*/

.nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 0;
  font-weight: 600;
  color: #333;
  padding: 11px 14px 12px 14px;
}

.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
  border-color: #e5e5e5;
  color: #676767;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #fefefe;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #428BCA;
  border-top-color: #D65C4F;
}

.nav-tabs > li > a > i { 
  float: left; 
  margin: 0px 6px 0 0; 
}

.nav-tabs > li > a .label { 
  margin: -5px -5px -5px 5px; 
}

.nav-tabs > li > a .label-text { 
  font-weight: 700;
  font-size: 11px;
  margin-left: 4px; 
}

.nav-tabs .open > a, 
.nav-tabs .open > a:hover, 
.nav-tabs .open > a:focus {
  background-color: #FCFCFC;
  border-color: #DDD;
  color: #428BCA;
}

.nav-tabs .dropdown-menu {
  margin-top: 10px;
}


/*---Justified tabs-------*/

.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #dddddd;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -1px;
  border-radius: 0;
}
.nav-tabs.nav-justified > li:first-child > a {
  margin-left: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top-color: #D65C4F;
  border-bottom-color: #ffffff;
}


/*----Tab content---*/

.tab-content { border: 1px solid #ddd; border-top: 0; background-color: #fff; }
.panel > .tabbable > .tab-content { border: 0; }
.modal .tab-content { border: 0; padding-top: 20px; }
.pill-content {
  border: 0; 
  margin-top: 16px;
}

@media (max-width: 480px) {

  .nav-tabs > li {
    float: none;
  }
  .nav-tabs > li.pull-right {
    float: none!important;
  }

  .nav-tabs > li > a {
    border: 1px solid #ddd;
    margin-right: 0;
  }

  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    border-bottom-color: #ddd;
  }

}

/*--Page header--*/

.page-header { 
  padding: 0; 
  margin: 0; 
  position: 
  relative; border: 0; 
}

.page-header small {
  display: block;
  font-size: 11px;
  color: #999;
  margin: 8px 0 0 0;
}

.page-title {
  float: left;
}

.page-title h3 {
  padding: 29px 0;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 767px) {

  .page-header .page-title { 
    float: none; 
    padding-right: 40px; 
  }
  .page-header .page-title h3 { 
    font-size: 18px; 
    padding: 25px 0; 
  }
  .page-header h3 small { 
    margin-top: 6px; 
  }
}


/*---Breadcrumb ----*/

.breadcrumb {
  padding: 9px 12px 10px 12px;
  float: left;
  margin: 0;
  background: none;
  border-radius: 0;
}
.breadcrumb > li {
  font-weight: 600;
}

.breadcrumb > li:first-child > a {
  background: url(../images/interface/breadcrumb_home.png) no-repeat 0;
  padding-left: 16px;
}
.breadcrumb > li > a {
  color: #444;
}

@media (max-width: 767px) {
  .breadcrumb { 
    padding-right: 40px; 
    background-color: #fcfcfc; 
    border: 1px solid #e5e5e5; 
    float: none; 
  }
}

/*----Labels----*/

.label {
  display: inline-block;
  font-size: 11px;
  padding: 5px 8px 6px 8px;
  line-height: 13px;
  font-weight: 600;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/*----Badge-----*/

.badge {
  padding: 6px 10px 7px 10px;
  font-weight: 600;
  background-color: #445661;
  border-radius: 100px;
  font-size: 11px;
}

/*------Dropdown menu--------*/

.dropdown-menu {
  margin: 10px 0 0 0;
  text-align: left;
  padding: 0;
  font-size: 12px;
  border: 1px solid #CCC;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu.dropdown-menu-right {
  right: -1px;
}

.dropdown-menu > li > a {
  padding: 10px 12px 11px 12px;
  text-align: left;
  font-weight: 600;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  outline: 0;
  color: #ffffff;
  background-color: #3A4B55;
  box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
  -webkit-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
  -moz-box-shadow: 1px 0 0 #3A4B55, -1px 0 0 #3A4B55;
}

.dropdown-menu > li > a .label {
  float: right;
  margin-top: -2px;
  margin-right: -5px;
}
.dropdown-menu > li > a:hover .label,
.dropdown-menu > li.active > a:hover .label {
  background-color: rgba(0,0,0,0.5);
}

.dropdown-menu > li > a > i, 
.dropdown-menu > li > a > img { 
  opacity: 0.4; 
  color: #505050; 
  float: left;
  margin-right: 8px;
}
.dropdown-menu > li > a > img {
  margin-top: 3px;
}

.dropdown-menu > li > a:hover > i, 
.dropdown-menu > li > a:hover > img { 
  color: #fff; 
  opacity: 1; 
}

.dropdown-menu > li { 
  position: relative; 
}
.dropdown-menu > li:first-child { 
  margin-top: -1px; 
}
.dropdown-menu > li:last-child { 
  margin-bottom: -1px; 
}

.dropdown-menu.icons-right > li > a > i { 
  float: right; 
  margin-left: 8px; 
  margin-right: 0; 
}


.dropdown-menu > li:first-child > a { 
  border-radius: 2px 2px 0 0; 
  -webkit-border-radius: 2px 2px 0 0; 
  -moz-border-radius: 2px 2px 0 0; 
}
.dropdown-menu > li:last-child > a { 
  border-radius: 0 0 2px 2px; 
  -webkit-border-radius: 0 0 2px 2px; 
  -moz-border-radius: 0 0 2px 2px;
}


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #65B688;
  box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
  -webkit-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
  -moz-box-shadow: 1px 0 0 #65B688, -1px 0 0 #65B688;
}
.dropdown-menu > .active > a > img,
.dropdown-menu > .active > a:hover > img,
.dropdown-menu > .active > a:focus > img,
.dropdown-menu > .active > a > i,
.dropdown-menu > .active > a:hover > i,
.dropdown-menu > .active > a:focus > i {
  opacity: 1;
  color: #fff;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
   box-shadow: none;
}

.dropdown-menu > .disabled > a > img,
.dropdown-menu > .disabled > a:hover > img,
.dropdown-menu > .disabled > a:focus > img,
.dropdown-menu > .disabled > a i,
.dropdown-menu > .disabled > a:hover i,
.dropdown-menu > .disabled > a:focus i {
  color: #999;
  opacity: 0.4;
}

.dropdown-menu-right {
  right: -1px;
}
.dropdown-menu-left {
  left: -1px;
}

.dropdown-header {
  padding: 11px 12px 12px 12px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.pull-right > .dropdown-menu {
  right: -1px;
}

/*----Dropdown arrows-------*/

.dropdown-menu > li:first-child:before {
  position: absolute;
  top: -6px;
  left: 11px;
  display: inline-block;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #ccc;
  border-left: 7px solid rgba(0, 0, 0, 0);
  content: '';
}

.dropdown-menu > li:first-child:after {
  position: absolute;
  top: -5px;
  left: 12px;
  display: inline-block;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-bottom: 6px solid #FFF;
  border-left: 6px solid rgba(0, 0, 0, 0);
  content: '';
}

.dropdown-menu.dropdown-menu-right > li:first-child:before {
  left: auto; 
  right: 13px;
}

.dropdown-menu.dropdown-menu-right > li:first-child:after {
  left: auto; 
  right: 14px;
}

.dropdown-menu > li:first-child:hover:after,
.dropdown-menu > li:first-child:hover:before {
  border-bottom-color: #3A4B55;
}

.dropdown-menu > li.active:first-child:after,
.dropdown-menu > li.active:first-child:before {
  border-bottom-color: #65B688;
}

.dropdown-menu > li.disabled:first-child:hover:after {
  border-bottom-color: #fff;
}
.dropdown-menu > li.disabled:first-child:hover:before {
  border-bottom-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:before {
  border-bottom-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:after {
  border-bottom-color: #fff;
}
/*--------- Panels -------------*/

.panel {
  border-radius: 2px;
  margin-bottom: 35px;
  box-shadow: none;
}

.panel .panel-body .panel:last-child {
  margin-bottom: 0;
}

.panel-heading {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0;
  position: relative;
}


/*---Panel footer---------*/

.panel .panel-footer { 
  border: 0; 
  border-top: 1px solid #e5e5e5; 
  border-radius: 0 0 2px 2px; 
}

.panel-footer {
  background-color: #fcfcfc;
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.panel-footer:after {
  content: "";
  display: table;
  clear: both;
}
.panel-footer .pull-left i { 
  float: left; 
  margin: 0 6px 0 0; 
}
.panel-footer .pull-left > span { 
  padding: 9px 12px 10px 12px; 
  display: block; 
  color: #777; 
}



@media (max-width: 767px) {

  .panel-footer {
    text-align: center;
  }
  .panel-footer > .pull-left {
    float: none!important;
  }

  .panel-footer > .pull-right {
    float: none!important;
  }

}



/*--Panel heading buttons--*/

.panel-heading .btn, .panel-heading .btn-group {
  margin: 3px 3px 0 0;
}

.panel-heading .btn-link { 
  margin-right: 0; 
}

.panel-heading .btn-group .btn, 
.panel-heading .btn-group .btn-sm, 
.panel-heading .btn-group .btn-xs { 
  margin: 0; 
}

.panel-heading .btn-sm {
  margin: 4px 4px 0 0;
}
.panel-heading .btn-group .btn-sm {
  margin-top: 1px;
}

.panel-heading .btn-xs {
  margin: 5px 5px 0 0;
}
.panel-heading .btn-group .btn-xs {
  margin-top: 2px;
}

.panel .panel-heading .btn-default { 
  border-color: #fcfcfc; 
}

.panel-default .panel-heading .btn-default { 
  border-color: #ccc; 
}

/*---Panel heading labels---*/

.panel-heading .label, 
.panel-heading .badge {
  margin: 8px;
}

/* Panel title */

.panel-title {
  float: left;
  display: block;
  font-size: 12px;
  padding: 11px 12px 12px 12px;
}
.panel-title > i {
  float: left;
  margin: 0 8px 0 0;
}
.panel-default > .panel-heading {
  background-color: #fafafa;
}


/*----Forms---*/

.form-group {
  margin-bottom: 20px;
}

.panel .form-group:first-child, 
.well .form-group:first-child {
  margin-top: 5px;
}

.form-control {
  padding: 7px 9px 8px 9px;
  font-size: 12px;
  border-color: #ddd;
  box-shadow: none;
  border-radius: 0;
}

input[type=text], 
input[type=password], 
textarea {
  -webkit-appearance: none;
}

.form-control:focus {
  border-color: #D5D5D5;
  box-shadow: none;
}

.form-control + .form-control,
.input-group + .input-group {
  margin-top: 20px;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
  background-color: #FAFAFA;
}

.form-actions {
  margin-bottom: 5px;
}


/*----Input sizing---*/
.input-sm {
  font-size: 11px;
  border-radius: 0;
}

.input-lg {
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 0;
}

.help-block {
  margin-top: 7px;
  margin-bottom: 12px;
  color: #999;
  font-size: 11px;
}


/*----Form horizontal------*/
.form-horizontal .control-label, 
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
  margin-bottom: 5px;
}
.form-horizontal .control-label i {
  vertical-align: -2px;
  margin-right: 6px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }

  .form-horizontal .control-label.text-right {
    text-align: right;
  }
}



/*----Error inputs------*/

.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #D65C4F;
}

.has-error .form-control,
.has-error .form-control:focus {
  border-color: #D65C4F;
  box-shadow: none;
}


/*---Success inputs----*/

.has-success .help-block, 
.has-success .control-label, 
.has-success .radio, 
.has-success .checkbox, 
.has-success .radio-inline, 
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #239169;
}

.has-success .form-control,
.has-success .form-control:focus {
  border-color: #239169;
  box-shadow: none;
}


/* Addons */
.input-group-addon {
  font-size: 12px;
  border-color: #ddd;
  background-color: #fafafa;
  border-radius: 2px;
}
.input-group-addon > i {
  display: block;
}
.input-group-addon > label {
  margin: 0;
}

/*----Caret-----*/ 

.caret {
  border-width: 3px;
}


/*----Close button--*/ 
.close {
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
  text-shadow: none;
  filter: alpha(opacity=80);
}
.close:hover, .close:focus {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
  outline: 0;
}


/* Well */ 

.well {
  padding: 15px;
  margin-bottom: 0;
  background-color: #FCFCFC;
  border-color: #E5E5E5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: none;
}


/*------- Modal --------*/

.modal-content {
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.modal-header {
  padding: 13px 16px 14px 16px;
  background-color: #65B688;
  color: #FFF;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}
.modal-header .close {
  margin-top: 1px;
  color: #fff;
}
.modal-title {
  font-size: 12px;
}
.modal-title i {
  float: left;
  margin: 0 6px 0 0;
}

.modal-body {
  padding: 0;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.modal-footer {
  border-radius: 0 0 3px 3px;
  padding: 16px;
  margin-top: 0;
  border: 1px solid #DDD;
  background-color: #FCFCFC;
}


@media (min-width: 768px) {
  .modal-content {
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1000px;
  }
}

/* --- Progress bars --- */
.progress {
  margin-bottom: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  font-size: 11px;
  background-color: #546672;
}

/*---Pagination---*/

.pagination {
  margin: 0;
  border-radius: 0;
  font-size: 0;
}
.pagination > li {
  display: inline-block;
  margin-left: 1px;
  font-size: 12px;
}
.pagination > li:first-child {
  margin-left: 0;
}

.pagination > li > a,
.pagination > li > span {
  float: none;
  margin-left: 0;
  border: 0;
  display: block;
  color: #333;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-radius: 2px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #65B688;
  color: #fff;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: #32434D;
  cursor: default;
}

/*---- Pager -----*/

.pager {
  margin: 0;
}
.pager li > a,
.pager li > span {
  border-radius: 2px;
  font-weight: 600;
  padding: 6px 14px 7px 14px;
  color: #333;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #32434D;
  border-color: #32434D;
  color: #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  border-color: #ddd;
}

/*----Buttons-----*/

.btn {
  padding: 7px 16px 8px 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


/*----Button with icon------*/

.btn > i { 
  float: left; 
  margin: 0 6px 0 -4px; 
}
.btn-sm > i, .btn-xs > i { 
  margin-left: 0; 
}

/*---Button spacing------*/

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
  margin-left: 1px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


/* Button sizing */

.btn-lg,
.btn-group-lg > .btn {
  padding: 9px 18px 10px 18px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 6px 12px 7px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 5px 10px 6px 10px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}


/* Button default */

.btn-default {
  background-color: #fcfcfc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #fafafa;
}


/* Button primary */

.btn-primary {
  background-color: #546672;
  border-color: #546672;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #657580;
  border-color: #657580;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #4C5B66;
  border-color: #4C5B66;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4C5B66;
  border-color: #4C5B66;
}


/* Button success */

.btn-success {
  background-color: #65B688;
  border-color: #65B688;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #74bd94;
  border-color: #74bd94;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #59A87B;
  border-color: #59A87B;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #59A87B;
  border-color: #59A87B;
}


/* Button warning */

.btn-warning {
  background-color: #E48561;
  border-color: #E48561;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e69171;
  border-color: #e69171;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #DB805D;
  border-color: #DB805D;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #DB805D;
  border-color: #DB805D;
}


/* Button danger */

.btn-danger {
  background-color: #D65C4F;
  border-color: #D65C4F;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #da6c61;
  border-color: #da6c61;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #C75549;
  border-color: #C75549;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #C75549;
  border-color: #C75549;
}


/* Button info */

.btn-info {
  background-color: #50ABC2;
  border-color: #50ABC2;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #61b3c8;
  border-color: #61b3c8;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #4DA2B8;
  border-color: #4DA2B8;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #4DA2B8;
  border-color: #4DA2B8;
}


/* Button link */

.btn-link {
  color: #555;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.btn-link:active {
  box-shadow: none;
}

/*---- Tables ----*/

.table {
  margin-bottom: 0;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  outline: 0;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
  vertical-align: middle;
  padding: 10px 12px;
}

.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > tbody > tr > td, 
.table-condensed > tfoot > tr > td {
  padding: 8px 10px;
}

.table > thead > tr > td.danger, 
.table > tbody > tr > td.danger, 
.table > tfoot > tr > td.danger, 
.table > thead > tr > th.danger, 
.table > tbody > tr > th.danger, 
.table > tfoot > tr > th.danger, 
.table > thead > tr.danger > td, 
.table > tbody > tr.danger > td, 
.table > tfoot > tr.danger > td, 
.table > thead > tr.danger > th, 
.table > tbody > tr.danger > th, 
.table > tfoot > tr.danger > th {
  background-color: #FDF5F5;
}

.table > thead > tr > td.success, 
.table > tbody > tr > td.success, 
.table > tfoot > tr > td.success, 
.table > thead > tr > th.success, 
.table > tbody > tr > th.success, 
.table > tfoot > tr > th.success, 
.table > thead > tr.success > td, 
.table > tbody > tr.success > td, 
.table > tfoot > tr.success > td, 
.table > thead > tr.success > th, 
.table > tbody > tr.success > th, 
.table > tfoot > tr.success > th {
  background-color: #F5FAF4;
}

.table > thead > tr > td.warning, 
.table > tbody > tr > td.warning, 
.table > tfoot > tr > td.warning, 
.table > thead > tr > th.warning, 
.table > tbody > tr > th.warning, 
.table > tfoot > tr > th.warning, 
.table > thead > tr.warning > td, 
.table > tbody > tr.warning > td, 
.table > tfoot > tr.warning > td, 
.table > thead > tr.warning > th, 
.table > tbody > tr.warning > th, 
.table > tfoot > tr.warning > th {
  background-color: #FFFDF0;
}

.table > thead > tr > td.info, 
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th {
  background-color: #F5FBFD;
}

.table > thead > tr > td.active, 
.table > tbody > tr > td.active, 
.table > tfoot > tr > td.active, 
.table > thead > tr > th.active, 
.table > tbody > tr > th.active, 
.table > tfoot > tr > th.active, 
.table > thead > tr.active > td, 
.table > tbody > tr.active > td, 
.table > tfoot > tr.active > td, 
.table > thead > tr.active > th, 
.table > tbody > tr.active > th, 
.table > tfoot > tr.active > th {
  background-color: #fafafa;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th,
.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
  background-color: #fcfcfc;
}


/* Additional styles for tables inside panel */

.panel .table-bordered,
.panel .table-responsive > .table-bordered {
  border: 0;
}

.panel .panel-body .table-bordered {
  border: 1px solid #ddd;
}

.panel > .table + .panel-body, 
.panel > .table-responsive + .panel-body {
border-top: 1px solid #DDD;
}


.panel .table:first-child,
.panel .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 0;
}
.panel .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 0;
}
.panel .table:last-child,
.panel .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 0;
}
.panel .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 0;
}

.panel .table-bordered > thead > tr > th:first-child,
.panel .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel .table-bordered > tbody > tr > th:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel .table-bordered > tfoot > tr > th:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel .table-bordered > thead > tr > td:first-child,
.panel .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel .table-bordered > tbody > tr > td:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel .table-bordered > tfoot > tr > td:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.panel .table-bordered > thead > tr > th:last-child,
.panel .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel .table-bordered > tbody > tr > th:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel .table-bordered > tfoot > tr > th:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel .table-bordered > thead > tr > td:last-child,
.panel .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel .table-bordered > tbody > tr > td:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel .table-bordered > tfoot > tr > td:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.panel .table-bordered > thead > tr:first-child > td,
.panel .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel .table-bordered > tbody > tr:first-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel .table-bordered > thead > tr:first-child > th,
.panel .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel .table-bordered > tbody > tr:first-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel .table-bordered > tbody > tr:last-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel .table-bordered > tfoot > tr:last-child > td,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel .table-bordered > tbody > tr:last-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel .table-bordered > tfoot > tr:last-child > th,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}

.panel .table-bordered.dataTable {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.panel-body .table-bordered {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}