/*----Clearfix-----*/
ul.list-justified li:after,
.user-menu > a:after,
.breadcrumb-line:after,
.datatable-footer:after { 
  content: ""; 
  display: table; 
  clear: both; 
}

/*----Border radius---*/

.breadcrumb-line,
.dataTables_paginate a,
label.error {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.block {
  margin-bottom: 35px;
}

.block-inner {
  margin-bottom: 20px;
  display: block;
}

.with-padding {
  padding: 16px;
}

.language.dropdown > a > img {
  float: left;
  margin: 3px 6px 0 0;
}

label.error {
  margin-top: 6px;
  margin-bottom: 0;
  color: #fff;
  background-color: #D65C4F;
  display: table;
  padding: 5px 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
}
label.error.valid {
  background-color: #65B688;
}

@media (max-width: 767px) {
  .panel-footer .pull-left i {
    display: none;
  }
}

/*---- On login page ----*/

.popup-header {
  background: #32434D;
  text-align: center;
  color: #fff;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}
.popup-header > span {
  display: inline-block;
  margin: 11px 12px 12px 12px;
}

/*------Page content--------*/

.sidebar-content {
  margin-top: 54px;
  position: relative;
}

.page-content {
  margin: 0 25px 0 265px;
  position: relative;
}

.sidebar-narrow .page-content {
  margin-left: 79px;
}

.full-width .page-content {
  margin: 0 25px;
}

.hidden-ul {
  display: none;
}

/*-------Sidebar toggle button-----*/

.sidebar-toggle {
  position: absolute;
  right: 0;
  top: 12px;
  line-height: 1;
  color: #fff;
  padding: 6px 7px 7px 7px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
}
.sidebar-toggle:hover, .sidebar-toggle:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

/*------ Sidebars ------*/

.sidebar {
  width: 240px;
  background-color: #3A4B55;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
}

.sidebar-narrow .sidebar-content.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.sidebar-content.animated {
  -webkit-animation-duration: 0.4s;
}

.sidebar-narrow .sidebar {
  width: 54px;
}

/*----Main navigation----*/

.navigation {
  list-style: none;
  margin: 0 0 35px 0;
  padding: 0;
  border-bottom: 1px solid #49565D;
}
.navigation li {
  position: relative;
}
.navigation > li {
  border-top: 1px solid #49565D;
  position: relative;
}

.navigation > li.active > a, 
.navigation > li.active:hover > a, 
.navigation > li.active:focus > a {
  color: #fff;
  background-color: #65B688;
  border-color: #65B688;
}
.navigation > li.active > a > i {
  opacity: 1;
  filter: alpha(Opacity=100);
}
.navigation > li > a {
  color: rgba(255,255,255,0.8);
  padding: 13px 40px 14px 14px;
  display: block;
  border-left: 3px solid transparent;
}
.navigation > li:hover > a {
  color: #fff;
  border-left: 3px solid #EE8366;
  background-color: #2C3A42;
}
.navigation > li:hover > a > i {
  opacity: 1;
  filter: alpha(Opacity=100);
}
.navigation > li > a > i {
  font-size: 16px;
  position: absolute;
  right: 14px;
  top: 13px;
  opacity: 0.8;
  filter: alpha(Opacity=80);
}

.navigation > li ul {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 11px;
  list-style: none;
  z-index: 1010;
}

.sidebar-narrow .navigation > li > ul {
  background-color: #2D3A42;
}

.navigation > li ul > li {
  border-top: 1px solid rgba(255,255,255,0.05);
}
.navigation > li ul > li:first-child {
  border-top: 0;
}
.navigation > li ul > li.active.has-ul > a, .navigation > li ul > li.active.has-ul > a:hover {
  background-color: #4A5D64;
}

.navigation > li ul > li.active > a, .navigation > li ul > li.active > a:hover {
  background-color: rgba(0,0,0,0.2);
}

.navigation > li ul > li.has-ul > a:after {
  content: "";
  background: url(../images/interface/plus.png) no-repeat;
  opacity: 0.4;
  filter: alpha(Opacity=40);
  margin-top: 4px;
  float: right;
  width: 7px;
  height: 7px;
  margin-right: 2px;
}

.navigation > li ul > li.has-ul > a:hover:after,
.navigation > li ul > li.active.has-ul > a:after {
  opacity: 1;
  filter: alpha(Opacity=100);
}

.navigation > li ul > li.active.has-ul > a:after {
  content: "";
  width: 7px;
  height: 7px;
  background: url(../images/interface/minus.png) no-repeat;
}

.navigation > li ul > li.active > a:after {
  content: "";
  width: 5px;
  height: 9px;
  opacity: 0.9;
  filter: alpha(Opacity=90);
  margin: 4px 2px 6px 0;
  float: right;
  background: url(../images/interface/nav_arrow_right.png) no-repeat;
}

.navigation > li ul > li > a {
  display: block;
  padding: 13px 14px 14px 24px;
}

.navigation > li ul li a {
  color: rgba(255, 255, 255, 0.8);
}

.navigation > li ul li a:hover,
.navigation > li ul li a:focus,
.navigation > li ul li.active > a {
  color: #fff;
}


.navigation > li ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.navigation > li ul > li > a .label {
  position: absolute;
  top: 9px;
  right: 12px;
}
.navigation > li ul > li.active > a .label {
  right: 30px;
}
.navigation > li ul li ul a {
  display: block;
}

.navigation > li ul > li > ul > li > a {
  padding-left: 30px;
}
.navigation > li ul > li > ul > li > ul > li > a {
  padding-left: 36px;
}

.navigation li.disabled a {
  opacity: 0.4;
  filter: alpha(Opacity=40);
  cursor: not-allowed;
}
.navigation li.disabled:hover a {
  background: none;
  border-color: transparent;
}
.navigation ul li.disabled:hover a {
  color: #ccc;
}
.navigation > li.disabled:hover > a:after, 
.navigation > li.disabled:hover > a > i {
  opacity: 0.5;
  filter: alpha(Opacity=50);
}

/* Left aligned icons */

.navigation-icons-left > li > a {
  padding-right: 14px;
  padding-left: 40px;
}
.navigation-icons-left > li > a > i {
  left: 14px;
  right: auto;
}

@media (max-width: 991px) {
  .navigation {
    margin: 0;
  }
}

/*---- Narrow sidebar navigation -----*/
.sidebar-narrow .navigation > li > a > span {
  display: none;
}
.sidebar-narrow .navigation > li > a {
  padding: 15px 3px 16px 0;
  width: 100%;
  text-align: center;
}
.sidebar-narrow .navigation > li > a > i {
  display: block;
  position: static;
}
.sidebar-narrow .navigation > li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-narrow .navigation > li > ul {
  width: 220px;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-left: 1px solid rgba(255,255,255,0.1);
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}

.sidebar-narrow .navigation > li:hover > ul {
  display: block;
}

.sidebar-narrow .navigation > li.disabled:hover > ul {
  display: none;
}

.sidebar-narrow .navigation > li > ul > li > a {
  padding-left: 14px;
}

.sidebar-narrow .navigation > li > ul > li:first-child {
  border-top: 0;
}
.sidebar-narrow .navigation > li > ul > li:first-child > a {
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}
.sidebar-narrow .navigation > li > ul > li:last-child > a {
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}

@media (max-width: 991px) {
  .page-content {
    margin: 0 25px 0 25px;
  }

  .sidebar-toggle {
   display: none;
  }

  .sidebar {
    left: -240px;
    position: fixed;
  }

  .sidebar-narrow .sidebar {
    left: -54px;
  }

  .offcanvas-active .sidebar {
    position: absolute;
    left: 0;
  }

  .offcanvas-active.sidebar-narrow .page-content {
    margin-left: 79px;
  }

  .offcanvas-active .page-content {
    margin-left: 265px;
    margin-right: 0;
    overflow: hidden;
  }

  .offcanvas-active .page-content-inner {
        margin-right: -240px;
  }

  .sidebar-narrow.offcanvas-active .page-content-inner {
        margin-right: -54px;
  }

  .sidebar-narrow .page-content {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .page-content {
    margin: 0 15px 0 15px;
  }

  .sidebar-narrow .page-content {
    margin-left: 15px;
  }

  .offcanvas-active .page-content {
    margin-left: 255px;
  }

  .sidebar-narrow .page-content {
    margin-left: 15px;
  }

  .offcanvas-active.sidebar-narrow .page-content {
    margin-left: 69px;
  }
}

/*---- Breadcrumbs---*/

.breadcrumb-line {
  margin: 0 0 35px 0;
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  position: relative;
}

@media (max-width: 767px) {
  .breadcrumb-line {
    border: 0;
    background: none;
  }
}

@media (max-width: 479px) { 
  .language.dropdown > a > img {
    float: none;
    margin: 0;
    display: inline-block;
  }
}

/*--- Footer ----*/

.footer {
  border-top: 1px solid #ddd;
  padding: 12px 0;
  text-align: center;
  font-size: 11px;
  color: #777;
  background-color: #fff;
}

.page-condensed .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

/*------Table element styles----*/

.table-footer .pagination {
  float: right;
  margin-top: 2px;
}
.table-footer {
  padding: 12px;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
}
.panel .table-footer {
  border: 0;
  border-top: 1px solid #ddd;
}

@media (max-width: 480px) {
  .table-footer {
    text-align: center;
  }
  .table-footer .pagination {
    float: none;
  }
  .table-footer .pagination {
    margin-top: 15px;
  }
}

/*
 * Table styles
 */

.dataTable {
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.dataTable thead th {
  background-color: #fafafa;
  cursor: pointer;
}
.dataTable thead th.sorting_disabled {
  cursor: default;
}
.dataTable thead th:active, 
.dataTable thead td:active {
  outline: none;
}

.sorting {
  background: url('../images/interface/tables/sort_both.png') no-repeat 100%;
  padding-right: 24px!important;
}
/*---Added to take care of yii2------*/
.sorting.asc {
  background: url('../images/interface/tables/sort_asc.png') no-repeat 100%;
  padding-right: 24px!important;
}
.sorting.desc {
  background: url('../images/interface/tables/sort_desc.png') no-repeat 100%;
  padding-right: 24px!important;
}

.dataTable,
.dataTable th,
.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.dataTables_info {
  padding: 20px 0 0 0;
  display: block;
  float: left;
  font-size: 12px;
}
.panel .dataTables_info {
  padding: 17px 14px;
}

.dataTables_paginate {
  float: right;
  margin: 17px 0 0 0;
}
.panel .dataTables_paginate {
  margin: 17px 14px;
}

.datatable-header, .datatable-footer {
  background: #fff;
}

@media (max-width: 480px) {
  .datatable-header, 
  .datatable-footer {
    text-align: center;
  }
  
  .datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
  }

  .dataTables_paginate, 
  .dataTables_info {
    float: none;
  }
 
  .panel .dataTables_length, .panel .dataTables_paginate {
    padding-top: 0;
    margin-top: 0;
  }
}

/*----------Login page---------*/
.login-wrapper { 
  width: 300px; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  width: 300px; 
  margin-left: -150px; 
  margin-top: -150px; 
}
.login-wrapper .checkbox, .login-wrapper .radio { 
  margin: 7px 0; 
}

@media (max-width: 480px) {
  .login-wrapper { 
    width: 100%; 
    margin: 0; 
    padding-left: 15px; 
    padding-right: 15px; 
    height: auto; 
    position: static; 
  }
  .login-wrapper { 
    padding-top: 35px; 
    padding-bottom: 35px; 
  }
}

/*--Editor--*/
.note-editor.note-frame{
    margin-bottom: 0px;
}